body {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
}

#board {
  border: 2px solid black;
  display: flex;
  flex-wrap: wrap;
  height: 270px;
  width: 245px;
}
/* 
#board {

  background-color: red;
  justify-content: center;
  height: 200px;
  width: 245px;
  gap: 3px;
  display: flex;
  flex-wrap: wrap
} */

.cell {
  border: 2px solid black;
  height: 80px;
  width: 80px;
}

.hidden {
  display: none;
}

.player-info, .game-status {
  width: 80%;
}

.column {
  background-color: rgb(0, 204, 255);
  border-color: black;
  
}